* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clima {
    height: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #3B2461;
}

@media (min-width : 768px) {
   .clima {
       height: 15vh;
   }
}

#contenedor {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

#caja1,
#caja2,
#caja3 {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding-top: 20%;
    width: 100px;
    height: 100px;
    border-radius: 10%;
}

#caja1 {
    background-color: #2BB5C3;
    color: azure;
}

#caja2 {
    background-color: darkslateblue;
    color: azure;
}

#caja3 {
    background-color: #2ab2ea;
    color: azure;
}

.h2__clima,
.h3__clima {
    font-size: 10px;;
}

#icono-animado {
    height: 60px;
    width: 60px;
}

@media (min-width : 768px) {
    #caja1,
    #caja2,
    #caja3 {
        width: 200px;
        height: 200px;
    }

    #contenedor {
        grid-gap: 50px;
    }

    .h3__clima,
    .h2__clima {
        font-size: 20px;
    }

    #icono-animado {
        height: 80px;
        width: 80px;
    }
    
    .clima {
        height: 30vh;
    }
}

